body {
    font-family: "Inter", sans-serif;
    padding: 0 15%;
    margin: 0;
}

p {
    font-size: 1.25rem;
    line-height: 1.5;
}

hr {
    color: white;
    align-content: center;
    width: 85%;
    margin: 10% 0 10% 5%;
}

footer {
    text-align: center;
    margin-top: 1em;
}

/*Navbar */

.navbar-brand {
    font-size: 4em;
    color:#00001a;
    font-family: 'Abril Fatface', cursive;
}

#offcanvasRight {
    width: 66%;
    top: 0;
    right: 0;
    padding-left: 2em;
}

#drawer-list {
    margin-right: 15em;
}

.btn-close {
    margin-left: 15em;
    opacity: 100%;
    color:#00001a;
}

#drawer-link {
    color:#00001a;
    opacity: 100%;
    font-weight: 400;
    font-size: 1.5em;
}

/* Biggest Header Row */

.top-header {
    font-weight: 800;
    color:#00001a;
    margin: 0;
    padding: .5em .55em .5em 0;
    font-size: 4em;
    line-height: 1.25;
}

.top-content {
    padding: .5em .55em;
    margin-top: 2.75rem;
    padding: 0;
}

.read-more-btn {
    font-weight: 500;
    color: white;
    background-color: #f15d50;
    border: none;
    border-radius: 0;
}

.read-more-btn:hover {
    background-color:#00001a;
}

.button:hover {
    background-color:#00001a;
}

.main-pic {
    background-size: contain;
}

/* New, Dark Blue Column with three hrefs Column*/

#new {
    background-color: #00001a;
    color: white;
    float: right;
    align-content: left;
    height: 100%;
}

.header-new {
    font-family: "Inter";
    font-weight: 700;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.header-new:hover {
    color: #f3a442;
}

.new-content {
    width: 100%;
    padding: 1em;
    color: white;
}
.new-block-header {
    color: #f3a442;
    font-weight: 700;
    padding-bottom: .75em;
    font-size: 3em;
}

/* Bottom Row - Trending Content */


#trending {
    margin: 3em 0;
}

.trending-block {
    padding-top: 2em;
}

.bot-title {
    font-family: "Inter";
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 700;
    color:#00001a;
    margin-bottom: .75em;
}

.bot-title:hover {
    color:#f15d50;
}

.trending-content {
  padding-right: 1em;
}

.bot-number {
    color: lightgray;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: .75em;
}

.mobile-pic {
    display: none;
 }

@media only screen and (max-width: 650px) {
    body { 
        padding: 3%;
    }
    
    .main-pic {
        display: none;
    }
    .mobile-pic {
      display: block;  
    }

    footer {
        padding-top: 2em;
    }

    #home { 
        margin-bottom: 3em;
    }
    
    .trending-image {
        width: 12.625rem;
        height: 80%;
    }
}